.git
.gitignore
.vscode
.vscode-test
.vscodeignore
.DS_Store
*.vsix
node_modules
dist
src
test
**/*.ts
**/*.map
**/*.d.ts
.editorconfig
.prettierrc
.eslintrc*
tsconfig.json
esbuild.js
vitest.config.ts
prd.md
README.md
LICENSE
.maraudersmapmd
.ai
